/* Header Images */
.image-header{
    background-color: #DC8282;
    height: 725px;
    /* border-radius:  0 0 450px  50px; */
}
.img-01{
    opacity: 0.3;
    margin-left: 375px;
    position: relative;
}
.img-02{
    position: absolute;
    top: 2%;
    left: 47%;
}
/* end of header stuff */

