// Nav styles 

nav{
    position: fixed;
    margin: 0;
    height: 45px;
    width: 100%;
    z-index: 1;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
nav li{
    flex: 1;
    
}
nav a{
    line-height: 45px;
    text-decoration: none;
    background-color: white;
    display: block;
    text-align: center;
}










