//Services Page
@media (max-width:1500px){
    .img-02 {
        left: 22%;
    }
}
@media (max-width:1340px){
    .contact-content{
        width:100%;
    }

    .flower-girl {
        position: absolute;
        top: 27%;
        left: 45%;
        width: 64%;
    }

    .img-gal {
        width:180px;
        height:auto;
    }
    
}
@media (max-width:1200px){
    .flower-girl{
        display: none;
    }
    form{
        margin: auto;
        width: 100%;
    }
    //SERVICES --grid from 4col to 3col
    .menu{
        grid-template-columns: repeat(3, 1fr);
    }
    .filler-header-pink{
        border-radius: 0;
    }
    .about-sec{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
    }
    .about-sec {
        flex-direction: column;
        align-items: center;
        width:100%;
        margin:0 auto;
    }

    .team-bubbles {
        width:70%;

    }

    .team-bubbles img {
       width:70%;
    }

    .team-bubbles li, .team-bubbles p {
        padding-bottom:10px;

    }

    .team-bubbles p {
        padding-bottom:20px;
    }

    .our-story p {
        padding:0 50px;
        margin: 0 auto;
        white-space: normal;
        flex-wrap: wrap;

    }
    body{
        margin: auto;
    }
    //HEADER IMGS --Scoot over
    .img-01{
        margin-left: 221px;
        position: relative;
        top: 104px;
        left: -350px;
    }
    .img-02{
        position: absolute;
        top: 0%;
        left: 7%;
    }

    //Gallery --flex reviews
    .review-area{
        display: block;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .review{
        margin: auto;
        width: 100%;
    }
    .rev-pic{
        width: 50%;
    }
    .gallery p{
        width: 70%;
    }
    .gallery-area{
        height: 600px;
        width: 80%;
        margin: auto;
    }
    .gramclump{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .responsive-gallery{
        margin: auto;
    }
    .gal-display{
        display: none;
    }
    .img-gal{
        width:200px;
        height:auto;
    }

    .fleximage-and-productsection {
        flex-direction: column;
    }

    .fleximage-and-productsection img {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }

    .circle img {
        margin:20px 0 20px 0;
        
    }
    .product-list {
        text-align: center;
    }
}
@media (max-width:1000px){
    
    .img-02{
        display: none;

    }
    .filler-header-pink{
        display: none;
    }
    .replace{
        background-image: url('../images/pink-cutout-skai.jpg');
        background-color: $brand-color;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
       height: 79vh;
        
    }
    body{
        margin: auto;
    }
    //HEADER IMGS --Scoot over
    .img-01{
        margin-left: 221px;
        position: relative;
        top: 104px;
        left: -350px;
    }

    //Gallery --flex reviews
    .review-area{
        display: block;
    }
    .review{
        margin: auto;
    }
    .gallery-area {
        height: 748px;
    }
    
    .responsive-gallery{
        margin: auto;
    }
   
    //SERVICES --grid from 3col to 2col
    .menu{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (max-width: 960px) { 
    .img-02{
        width: 90%;
        top: 7%;
        left: 7%;
    }
    .img-01{
        display: none;
    }

    .fleximage-and-productsection img {
        width:100%;
    }

    .circle img {
        width:100%;
        height:auto;
    }

    .product-list {
        text-align:center;
    }

    .product-list li, .product-list p {
        text-align: center;
        width:100%;
        padding: 0 10px;
    }

    .product {
        margin-top:10px;
    }
}

@media only screen and (max-width: 810px) { 
    .about-sec {
        flex-direction: column;
        align-items: center;
        width:100%;
        margin:0 auto;
    }

    .team-bubbles {
        width:100%;

    }

    .team-bubbles img {
       width:100%;
    }

    .team-bubbles li, .team-bubbles p {
        text-align:center;
        padding-bottom:10px;

    }

    .team-bubbles p {
        padding-bottom:20px;
    }

    .join {
        text-align:center;
    }

    .our-story p {
        text-align:center;
        padding:0 50px;
        margin: 0 auto;
        white-space: normal;
        flex-wrap: wrap;

    }
}
@media (max-width: 850px){

    .filler-header-pink{
        height: 738px;
    }
}
@media (max-width:700px){
    .img-01{
        display: none;
    }
    .img-02{
        left: 0;

    }
    .contact{
        flex-direction: column;
        width: 100%;
    }
}
@media (max-width:600px){

    //SERVICES --grid from 2col to 1col
    .menu{
        grid-template-columns: repeat(1, 1fr);
    }
    .gramclump{
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery-area {
        height: 1190px;
    }
}
@media (max-width: 500px){
    .img-02 {
        width: 750px;
        height: 717px;
    }
    .menu-hide{
        display: block;
    }
    nav ul{
        display: none;
        flex-direction: column;
    }
    nav a{
        line-height: 50px;
    }
    nav a:hover:not(.logo){
        background-color: $brand-color;
        color: white;
    }
    //Button
    button.menu-hide{
        width: 100%;
        background-color: white;
        border: none;
        font-size: 1rem;
        font-weight: bold;
        color: $brand-color;
        line-height: 50px;
    }
    button.menu-hide:active,
    button.menu-hide:focus{
        outline: none;
        border: none;
    }
    .our-story{
         margin-right: 0; 
        padding: 0; 
         width: 100%; 
        height: 100%;
    }
    .join{
        margin-right: 0; 
       padding: 0; 
        width: 100%; 
       height: 100%;
   
   }

   .contact-form .info {
       display: flex;
       flex-direction: column;
       padding-bottom:20px;
   }
   .question-radio {
       white-space: normal;
   }
}