//Section main styles
.section{
    height: 100vh;
    border-bottom: 1px black solid;
}
//Services
    //center/flex services section content
    .services{
        width: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    //STYLE TOP HEAD/LIST
    .services-tabs{
        display: flex;
        justify-content: space-between;
        width: 80%;  
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 25px;
    }
    .services-tabs li{
        flex: 1;  
        background-color: pink;
        border: 1px black solid;
        margin: 20px;
    }
    
    .menu{
        width: 60%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }
    .menu-pic{
        background-color: lightblue;
        height: 200px;
        margin: 0;
        border: black 1px solid;
    }
//Products
//About
//Gallery
.review-area{
    display: flex;
    margin: 0;
}
.gallery-area{
    background-color: pink;
}
//Contact






