//Section main styles
.section{
    min-height: 100vh;
}
.sectionhead {
    height: 80px;
    background-color: $body-banner-color;
    -webkit-border-radius: 177px 0px 160px 0px;
    border-radius: 177px 0px 160px 0px;
    color:black;
    text-align:center;
    padding-top:20px;
    font-size:33px;
    font-weight:bold;
    
}

//Services
    //center/flex services section content
    .services{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    //STYLE TOP HEAD/LIST
    .services-tabs{
        display: flex;
        justify-content: space-between;
        width: 80%;  
        margin: auto;
        padding: 0;
        list-style: none;
        text-align: center;
        line-height: 25px;
    }
    .services-tabs li{
        flex: 1;  
        background-color: pink;
        border: 1px black solid;
        margin: 20px;
    }
    
    .menu{
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
    .menu-pic{
        margin: 10px;
        border: black 1px solid;
        position: relative;
        width: 300px;
        height: 300px;
        
    }
    .menu-text{
        position: absolute;
        top: 30%;
        left: 41%;
        font-size: 1.5rem;
    }
    .prices{
        display: none;
        top: 50%;
        left: 50%;
        width: 250px;
        height: 250px;
        // position: absolute;
        // top: 25%;
        // left: 40%;
        text-align: center;
    }
    .menu-pic:hover .menu-text{
        display: none;
    }
    .menu-pic:hover .prices{
        display: block;
    }
//Products
//DON'T TOUCH

.fleximage-and-productsection img {
    width:55%;
    height:50%;
 
}

.fleximage-and-productsection {
    display:flex;
    justify-content: space-between;
    background-color: $brand-color;

}

.product {
    text-align: left;
    padding-bottom:10px;
    padding-right:$padding-default;
    margin-top:40px;


}

.product:nth-child(2) {
    padding-bottom:30px;
}

.product:last-child {
    padding-bottom:0;

}
.product-list p {
    width:300px;
 

}

.circle {
    padding-right:30px;
    padding-left:0;

}

.circle img {
    border: $border;
    border-radius: $border-radius;
    list-style: none;
    width:160px;
    height:160px;
    margin-bottom: 10px;
    margin-top:30px;
  

}

.circle img:last-child {
    margin-bottom: 0;
}

.circle li {
    list-style: none;
}

.circle li:last-child{
    margin-bottom:0;
}

.product-list li {
    text-decoration: none;
    list-style: none;
    font-size:25px;
    font-weight: bold;
    
}

.product-list {
    margin-top:30px;

   
}

.product-list ul {
    padding:0;
    margin-bottom:50px;

}


i {
    border: solid black;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 3px;
    width:20px;
    height:20px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.circle-01, .prod-01 {
    align-items: center;
}

.circle-02, .prod-02 {
    align-items: center;
}

.circle-03, .prod-03 {
    align-items: center;
}

//About
//DON'T TOUCH

.about-sec {
    display: flex;
    justify-content: space-between;
    
}

.team-bubbles {
    margin-right:$margin-right;
    width:450px;
    
}

.team-bubbles img {
    border-radius: 50%;
    border:$border;
    width:200px;
}

.team-bubbles li {
    font-size:20px;
    font-weight:19px;
    list-style: none;
    margin-top:10px;
}

.our-story {
    margin-right: $margin-right;

    padding:10px 20px 10px 30px;
    width:600px;
    height:1200px;
}

.our-story h3 {
    font-size:$section-heading;
    text-align: center;

}

.our-story img {
    width:550px;
    height:auto;
    margin:0 auto;
    padding-top:30px;
}

.join {
    width:400px;

}

.join h4 {
    font-size:$section-heading;
}

.join button {
    border: none;
    outline: none;
    width:150px;
    height:50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: $brand-color;
}


//Gallery

.review-area{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.review{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
}
.review p{
    text-align: center;
}
.gallery-area{
    background-color:$brand-color;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-border-radius: 177px 0px 160px 0px;
    border-radius: 177px 0px 160px 0px;
    
}
.gallery-header{
    width: 50%;
    text-align: center;
}
.img-gal{
    margin: 20px;
}

//Picture arrows
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

//Contact
.contact{
    margin: 10px;
    position: relative;
}
.contact-content{
    display: flex;
    width: 100%;
}
.message{
    text-align: center;
    font-size: 1.5rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $brand-color;
    border-radius: 25px;
    padding: 25px;
    position: absolute;
    top: 9%;
    left: 0%;
    width: 35%;
    height: 75%;
}
label{
    font-size: 1rem;

}
.question-radio{
    margin-top: 10px;
}
.info{
    display: flex;
    height: 266px;
    margin: 10px;
}
form input[type="text"], form input[type="radio"]{
    font-size: 1rem;
}
#select-box{
    height: 120px;
    font-size: 1rem;
}
select{
    width: 100%;
}
.chk-box{
    margin: 10px;
}
#textarea{
    width: 100%;
    height: 250px;
}
address{
    font-size: 1.3rem;
    margin: 15px;
    text-align: center;
    border: 1px solid $brand-color;
    height: 180px;
    padding: 15px;
    position: absolute;
    top: 30%;
    left: 36%;
}

//Button Styles
.submit-btn {
    margin: 20px;
    padding: 10px;
    color: rgb(220, 130, 130); 
    font-size: 25px; 
    line-height: 20px; 
    border-radius: 20px; 
    font-family: Georgia, serif; 
    font-weight: normal; 
    text-decoration: none; 
    font-style: normal; 
    font-variant: normal; 
    text-transform: none;  
    display: inline-block;
    height: 150px;
}
    
.submit-btn:hover {
    background: white; 
}
 .flower-girl{
     position: absolute;
     top: 0%;
     left: 60%;
     width: 500px;
     height: 100vh;
 }