//Margin Center
$margin-center:0 auto;
// Colors
$brand-color: #dc8282;
$body-banner-color: #c7b299;
$border: 5px solid #dc8282;

//Section Images
$padding-right:50px;
$margin:0;
$padding-left:0;

//Padding
$padding-default: 20px;

//Circles
$border-radius:50%;


// $wrapper-bg-color: white;
// Text Colors
$text-color-dark: black;
$text-color-light: white;

// Use Color functions to brighten and darken colors
// $brand-color-dark: darken($brand-color, 20);
// $brand-color-light: lighten($brand-color, 20);

// Fonts
// $body-font: ;
// $heading-font: ;
// // Typographic Defualts
// $line-height: ;

// // Layout variables
// $padding: ;
// // Grid Values
// $gutter: ;



// Function to
// Convert Px to Ems
@function em($px, $bc: 16){
    @return #{$px/$bc}em; 
}

// Media Query Breakpoints
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);

// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';